#osc-container {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

/* Обертка таблицы */
.osc-table-wrapper {
    flex: 0 0 460px; /* ЭТО значение мы теперь будем менять мышкой */
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #0a0a0a;
}

/* НОВЫЙ ЭЛЕМЕНТ: Главный разделитель между таблицей и графиками */
.osc-main-splitter {
    width: 4px;
    background: #333;
    cursor: col-resize;
    flex: 0 0 auto;
    z-index: 100;
}

.osc-main-splitter:hover, .osc-main-splitter.active {
    background: #0055ff;
}

.osc-data-grid {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.osc-data-grid th {
    background: #222;
    color: #aaa;
    padding: 6px 8px;
    font-size: 12px;
    border-right: 1px solid #333;
    border-bottom: 2px solid #333;
    position: relative;
    height: 31px;
}

/* Внутренние ресайзеры колонок */
.osc-table-resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    cursor: col-resize;
    z-index: 10;
}

.osc-table-resizer:hover, .osc-table-resizer.active {
    background: rgba(0, 85, 255, 0.3);
}

/* Область графиков */
.osc-canvas-column {
    flex: 1;
    min-width: 0;
    height: 100%;
    background: #000;
    position: relative;
    overflow: hidden;
}